* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li, ul {
  list-style: none;
  text-decoration: none;
}
main {
  background-color: #bfced1;
}


  .grid-container {
    grid-template-areas:
    'sidebar'
    'main-content';
    grid-template-columns: 1fr;
  }
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
  background-color: var(--color4);
  background: linear-gradient(#969ef5, #2894af, #727ada);
  color: white;

}
.main-content {
  grid-area: main-content;
}
.card-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}
.sidebar-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  padding: 1rem;
}
.name-text {
  font-size: 1.2rem;
  font-weight: 600;
}
.icon-text-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.image-wrapper img{
  height: 300px;
  width: 300px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  padding: 2rem;
  gap: 1rem;
  transition: 0.3s ease-in-out;
}
.card:hover {
transform: scale(1.03);
}
.card p {
  color: var(--color1);
}
.card a {
  color: var(--color1);
}

.cv-coverletter-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sidebar-image {
  height: 200px;
  width: auto;
  border-radius: 50%;
}


h1 {
  font-family: var(--font1);
  color: var(--color4);
}
h2 {
  font-family: var(--font2);
  color: var(--color4);
}
p ,a{
  font-family: var(--font3);
  color: white;
}


@media (min-width: 768px) {

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
  'sidebar main-content';
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
}
.card-section {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

}
 @media (min-width: 1440px) {
.card-section {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
 }